{% extends 'base.html' %}
{% block title %}Bài Viết{% endblock %}

{% block header %}
  <h1>Bài Viết</h1>
  {% if g.user %}
    <div class="user-actions">
      <a class="btn" href="{{ url_for('blog.create') }}">Tạo Bài Viết</a>
      <a class="btn" href="{{ url_for('blog.my_posts') }}">Quản Lý Bài Viết</a>
      {% if g.user['is_admin'] %}
        <a class="btn" href="{{ url_for('blog.admin') }}">Quay Về Bảng Quản Trị</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="post-list">
  {% for post in posts %}
    <article class="post {% if post.is_admin %}admin{% endif %}">
      <header>
        <h2>{{ post['title'] }}</h2>
        <div class="about">Bởi {{ post['username'] }} vào {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </header>
      <p class="body">{{ post['body'] }}</p>
      <footer>
        {% if g.user and g.user['id'] == post['author_id'] %}
          <a class="btn edit" href="{{ url_for('blog.update', id=post['id']) }}">
            <i class="fas fa-edit"></i> Chỉnh Sửa
          </a>
        {% endif %}
      </footer>
    </article>
  {% endfor %}
</div>
{% endblock %}
